@font-face {
  font-family: heavy; /* Имя шрифта */
  src: url(fonts/Nexa-Heavy.otf); /* Путь к файлу со шрифтом */
 }
@font-face {
  font-family: regular;
  src: url(/fonts/Fontfabric\ -\ NexaRegular.otf);
 }
@font-face {
  font-family: arial;
  src: url(/fonts/arial.ttf);
 }
@font-face {
  font-family: arialbt;
  src: url(/fonts/arialbd.ttf);
 }
.header_global {
  display:grid;
  font-family: regular;
  grid-row: header_global  ;
  grid-column:1 ;
    width: 100%;
    height: 66px;
    background-color: #373737;
    font-family: Nexa;
    color: #ffffff;
    }
.header_cube {
    display: grid;
    grid-row: -2 ;
    grid-column: 1 ;
    margin: 0px 0px 0px 300px;
    width: 78px;
    height: 66px;
    background-color: #f26c4f;
  }
.header_text {
  font-family: regular;
  display:grid;
  grid-row:  -2 ;
  grid-column: 1 ;
  margin: 23px 0px 0px 402px;
}
.text_cube {
  display: flex;
  align-items: center;
  font-family: heavy;
  font-size: 36px;
  margin: 0% 0px 10px 40%;
}
.header_cube_sternch {
  display: grid;
  margin: 25px 0px 0px 353px;
  grid-row: -2;
  grid-column: 1;
  height: 20px;
  width: 40px;
  background-color: #f26c4f;
  clip-path: polygon(60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%);
}
.to_header{
  display:grid;
  grid-row: header_global  ;
  grid-column:1 ;
    width: 100%;
    height: 69px;
    background-color: #474747;
    font-family: Nexa;
    color: #ffffff;
}
.to_header_text {
  font-family: regular;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* border-left: 1.5px solid rgb(150, 140, 140); */
  margin: 12px;
}
.bag {
  color: gray ;
  margin: 0px 20px 0px 0px;
}
._animation {
  height: 20px;
  width: 40px;
  background-color: #f26c4f;
}
.global {
  font-family: arial;
}
.body {
  width: 100%;
  height: 100%;
  background-image: url(/png/fon.png);
}
.search {
  display: flex;
  text-align: center;
  position: relative;
  padding: 15px 0px 10px 0px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0px 0px 0px -0vh
}
form {
  position: relative;
  width: 300px;
}
.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
}
.search input {
  font-family: arial;
  font-weight: bold;
  font-size: 13px; /* текст */
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.137); /* Параметры тени */
  padding-left: 20px;
  width: 100%;
  height: 42px;
  border: 2px outset #ffffff;
  outline: none;
  background: #ffffff;
  color: #9E9C9C;
  cursor: pointer;
}
.search button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search button:before {
  background-image: url(/png/time.png);
  content: "....";
  background-size: 100%;
  color: #f26d4f00;
}
div .icon_top {
  display: flex;
  color: #8f8f8f;
  justify-content: flex-end;
  align-items: center;
}
.marg {
  padding: 6px;
  font-family: arial;
  font-weight: 100;
}
div .global_face{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  align-content: flex-start;
  width: auto;
  margin: 0% 0% 20px 0% ;
  justify-content: center;
}
@media(min-width: 600px){div div .flex, .global_face {
  display: inline-flex;
  justify-content: center;
  min-width: 90%;
  padding: 0% 0% 0% 0%;
  align-content: center;

}
}
@media(max-width: 600px){div .flex, div .global_face , .lond,div .londo_info_head,div .londo_info_text {
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  width: auto;
  flex-wrap: wrap;
  padding: 0% 0% 0% 0%;
  
}
}
@media(max-width: 600px){div div .global_face , .lond,div .londo_info_head,div .londo_info_text{
  padding: 0% 2% 0% 3%;
}
}
/* .flex div {
  padding: 0px;
} */
div .lond {
  width: 100%;
  height: 391px;
  background-image: url(/png/Layer_4.png);
  flex: 350vh;
}
div .londo_info {
  width: 50%;
  background: #373737;
  margin: 0px ;
  height: auto;
  border-left: 10px solid #f26c4f;
  flex: 170vh;
}
.pre_streg{
  position: absolute;
  padding-top: 6%;
}
.streg {
  display: flex;
  position: absolute;
  padding-top: 20px;
  height: 20px;
  width: 10px;
  margin: 0%;
  background-color: #f26c4f;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.lond_info, .londo_info_head, .londo_info_text {
  background: #373737;
  flex-direction: column;
}
.londo_info_head {
  display: flex;
  font-family: arial;
  color:#ffffff;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  letter-spacing: -0.19px;
  text-align: left;
  padding: 20% 10% 0px 46px;
  text-indent: 0em; /* Отступ первой строки */
  margin: 0px;
}
div .londo_info_text { /*aaaaaaaaaaaaaaaaaaaaa*/
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #a7a7a7;
  font-weight: bolder 300;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  text-align: left;
  padding: 4% 10% 0px 46px;
  text-indent: 0em; /* Отступ первой строки */
  margin: 10% 0% 20px 0% ;
}
.londo_info_text_time{
  justify-items: flex-end;
  box-sizing: content-box ;
  padding: 10px 0px 0% 10% ;
  margin: 0px;
  text-align: right;
}
.icon_time {
  background-color: #373737;
  width: 18px;
}
.mid_face{
  display: flex;
}
div .row {
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
  max-height: 700vh;
  margin-left: 0%;
  margin-right: 0%;
  align-content: stretch;
  align-items: flex-start;
}
.mid_png {
  max-width: 100%;
  max-height: 30vh;
  min-height: 30vh;
}
@media (min-width: 992px){div .container {
  justify-content: center;
    max-width: 73%;
    min-width: 73%;
}
}
@media (max-width: 600px){div .container {
    max-width: 100%;
}
}
@media (max-width: 600px){div .box_1 {
  display: flex;
  flex-wrap: wrap;
}
}
/* .bd-placeholder-img, .card-img-top {
  height: 100%;
  background-image: url(/png/Taste.png);
} */
.fruty{
  width: 100%;
  height: 294px;
}
h3 {
  text-align: center;
}
@media (max-width: 600px){div .f2 , .as {
  margin: 0px;
}
}
.contayner_1 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-self:flex-start;
  width: 100%;
  
}
.contayner_2 {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-direction: column;
  align-self:flex-start;
  width: 50%;
}
.box_1 {
  display: flex;
}
div .left_text_head {
  padding: 1.25rem;
  text-align: left;
}
.right_card {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
div .r_card {
  color: #ffffff;
  background-color: #373737;
}
div div .left_card {
  width: 100%;
  border-left: 4px solid #f26c4f;
}
div .right_text_head{
  padding: 1.25rem;
  text-align: left;
}
div .card {
  border: 0px;
}
@media (min-width: 768px){ /*проблем фикс*/
div .col-md-4 {
    max-width: 100%;
}
}
@media (min-width: 768px){
div .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 100%;
    max-width: 100%;
}
}