body {
    background-image: url(../img/Layer\ 20\ copy\ 3.png);
}

.grid_container {
    margin-left: 300px;
    margin-right: 208px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    /* "header header"
    "nav nav" */
    "subheader subheader"
    "baner baner"
    "news news"
    "article sidebar"
    "footer footer";
    grid-gap: 1px;
}

.header {
    display: flex;
    grid-area: header;
    background: #373737;
}

.logo {
    position: relative;
    margin-left: 300px;
    width: 80px;
    height: 66px;
    background-color: #f26c4f; 
    font-family: Nexa;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    vertical-align: center;
    color: #ffffff; 
}

.logo:after {
    content: "";
    position: absolute;
    right: -30px; top: 12px;
    border: 15px solid transparent;
    border-left: 15px solid #f26c4f;
}

.subheader {
    grid-area: subheader;
}

.nav {
    display: flex;
    grid-area: nav;
    background: #474747;
}

.nav a {
    flex-direction: row;
    margin-left: 300px;
    color: white;
}

.baner {
    display: flex;
    grid-area: baner;
}

.baner img {
    width: 631px;
    height: 391px;
}

.red_streak {
    width: 10px;
    height: 391px;
    background: #f26c4f;
}

.news {
    grid-area: news;
}

.news img {
    width: 300px;
    height: 190px;    
}

.article {
    grid-area: article;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}